body {
	font-family: $_font-family-base;
	font-size: $_font-size-base;

	background-color: $_body-bg;
	color: $_text-color-base;

	line-height: 1.2;
}

.main-header,
.main-content,
.main-footer {
    &__container {
        @include container-fixed;
        max-width: 1280px;
    }

    &__content {
        @include make-row;
    }
}

.clearfix {
    @include clearfix;
}
