.main-content
    .main-content__container
        .main-content__content
            button.nearby Posição mais próxima
            select.select-position
                option Localizar
            #map(style="width: 100%; height: 400px")
