doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Simple Workflow

        link(rel="stylesheet", href="assets/css/main.css")
    body

        include ./header/main-header.pug
        include ./content/main-content.pug
        include ./footer/main-footer.pug

        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgnKFgcaZyx3dwZSkIna39ycfKLJZgaRY")
        script(src="assets/js/main.js")
