/**
 * Colors
 */
$_light-grey:       #eee !default;
$_dark-grey:		#333 !default;


/**
 * Typography
 */
$_font-primary:     sans-serif !default;
// $_font-secondary:   'Oswald', sans-serif !default;

$_font-size-base:       16px !default;
$_font-size-small:      0.8em !default;
$_font-size-medium:     $_font-size-base;
$_font-size-large:      1.5em !default;

$_font-weight-light:	300 !default;
$_font-weight-base:		400 !default;
$_font-weight-bold:		700 !default;


/**
 * Settings body
 */
$_body-bg:			$_light-grey;
$_text-color-base:	$_dark-grey;


/**
 * Custom styles
 */
$_radius:       5px !default;
